# Entornos virtuales de Python
venv/
env/
*.venv/
.venv/
*/__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
.idea/
*.DS_Store

# Archivos sensibles (¡NUNCA subas tu .env real con secretos!)
.env
*.env.*
!*.env.example  # A menos que quieras incluir un ejemplo de .env

# Dependencias y compilados de Python
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.manifest
*.spec

# Logs
*.log
logs/

# Tests
tests
